<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUANLYWIN10.Properties.Settings.QuanLyQuanAnNhaHangConnectionString"
            connectionString="Data Source=DESKTOP-7B5O75O\SIUSQL;Initial Catalog=QuanLyQuanAnNhaHang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>